<!-- Update fields to reflect the wireframe -->
<%= form_for (@assessment) do |f| %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :questions do |builder| %>
    <%= render 'question_fields', f: builder %>
  <% end %>
 
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  
   