<!-- Update fields to reflect the wireframe -->
<%= form_for (@assessment) do |f| %>
  
  <%= f.fields_for :questions do |builder| %>
    <p class= "field">
      <%= f.label :name %><br/>
      <%= f.text_field :name %><br/>
      <%= builder.label :question_text, "Question" %><br />
      <%= builder.text_area :question_text, :rows => 3 %><br />
      <%= f.fields_for :choices do |builder| %>
      <%= render 'choice_fields', :f => builder %>

  <% end %>
    </p>
  <% end %>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  
   