
<%= notice %>


<% if user_signed_in? %>

<br>

<div class="profile_header">
<h1>Profile</h1>


    <%= link_to 'Edit', edit_user_path(current_user) %>

  
</div>

<div id="notice">

  <div class="row1">
    <div class="profile_picture_details">
      <p>
        <h2><strong><%= current_user.first_name %></strong></h2>
      </p>
      <p class="picture_picture">
        <% if current_user.picture.nil? %>
          <img src=<%= asset_path( 'no_pic.jpg' ) %>>
        <% else %>
          <%= image_tag current_user.picture %>

        <% end %>
      </p>
    </div>

    <div class="about_you">
      <p>
        <h2><strong>About you</strong></h2>
        <p><%= current_user.about_me %></p><br><br>
        <p>
<!--           Other elements needed: Education/ Location/ Gender/ Birthday -->

        <p>
          <strong>Education:</strong>
          <%= current_user.education %>
        </p>
        <p>
          <strong>Location:</strong>
          <%= current_user.location %>
        </p>
        <p>
          <strong>Gender:</strong>
          <%= current_user.gender %>
        </p>
        <p>
          <strong>Birthday:</strong>
          <%= current_user.birthday %>
        </p>
          <strong>Email:</strong>
          <%= current_user.email %>
        </p>
        <p>
          <strong>Phone Number:</strong>
          <%= current_user.phone %>
        </p>
      </p>
    </div>

    <div class="skills">
<!--         We can develop the skills portion later -->
    </div>

  </div>  
</div>
<% else %>
  <meta http-equiv="refresh" content="10; URL=../home">
<% end %> 