<!-- Update fields to reflect the wireframe -->
<%= form_for (@course), :html => { :multipart => true }  do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :intro_video %><br />
    <%= f.file_field :video %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :syllabus %><br />
    <%= f.text_area :syllabus %>
  </div>
  <div class="field">
    <%= f.label :prerequisites %><br />
    <%= f.text_area :prerequisites %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :hours %><br/>
    <%= f.text_field :hours %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
