<!-- Update fields to reflect the wireframe -->
<%= form_for (@course), :html => { :multipart => true }  do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :intro_video %><br />
    <%= f.file_field :video %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :syllabus %><br />
    <%= f.text_area :syllabus %>
  </div>
  <div class="field">
    <%= f.label :prerequisites %><br />
    <%= f.text_area :prerequisites %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :hours %><br/>
    <%= f.text_field :hours %>
  </div>

  <%= f.fields_for :questions do |builder| %>
    <p class = "field">
      <%= builder.label :question_text, "Question" %><br />
      <%= builder.text_area :question_text, :rows => 3 %><br />
      <%= builder.hidden_field :_destroy %>
      <%= link_to_function "remove", "remove_fields(this)" %>
    </p>
  <% end %>

  <%= f.fields_for :choices do |builder| %>
    <%= render 'choice_fields', :f => builder %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
