<div class="page-header">

  <h1>Courses</h1>

<% if can_manage_courses? %>
  <h2><%= link_to 'New Course', new_course_path %></h2>
<% end %>

</div>
<div class="row">
	<div class="col-xs-12 col-md-8">
		<table class="table">
		<% @courses.each do |course| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

		<td>
			<%= image_tag(course.image_url) %>
		</td>

		<td class="course_info">
			<dl>
				<dt><%= link_to course.title, course %></dt>
		  	<dt><%= course.description %></dt>
		  	<dt><%= course.image_url %></dt>
		  </dl>
		 </td>
		</tr>
		<% end %>
		</table>
	</div>
	<div class="col-xs-6 col-md-4">
		<h3>Socialize</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
		</p>
<!-- 		<img src="#">
		<img src="#">
		<img src="#">
		<img src="#"> -->

		<h3>Get Started</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
		</p>
	
		<h3>Follow Our Blog</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis metus ut placerat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
		</p>
		<h3>Blog Excerpts</h3>
		<ul>
			<li>Education for the Future</li>
			<li>Building and Shipping Products</li>
			<li>Career Management In NYC</li>
		</ul>

	</div>
</div>