%h1 
  %p
  %b
  = "#{@course.title}"




%p
  %b
  %img{height: "250", width: "300", src: "#{@course.picture}"} 

%p
  %b 
  =  if !@course.video.path.nil?
    Video:
    / = @course.video.path.match(/\/system(.*)/) 
    %video{controls: "",height: "250",width: "320", src: "#{@course.video.path.match(/\/system(.*)/)}"} 

%p
  %b
  = "#{@course.description}"

%p
  %b
  = "#{@course.language}"

%p
  %b
  = "#{@course.hours}"

%p
  %b
  = "#{@course.syllabus}"


%p
  %b
  = "#{@course.prerequisites}"
