<!DOCTYPE html>
<html>
<head>
  <title>Wynston</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  
      <div class = "flash_msg">
        <h3><%flash.each do |key, value| %>
        <%= value %>
        <% end %>
        </h3>
      </div>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>


<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Welcome <strong><%= current_user.first_name %></strong> | 
  <% if current_page?!(root_url) %>
    <%= link_to 'Home', root_url, :class => 'navbar-link'  %> |   
  <% end %>
  <%= link_to "Courses", courses_path, :class => 'navbar-link' %> 
  |
  <%= link_to 'Profile', user_path(current_user), :class => 'navbar-link'  %> | 
  <%= link_to 'Account Settings', edit_user_registration_path, :class => 'navbar-link' %>|
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>  
<% else %>
  <% if current_page?!(root_url) %>
    <%= link_to 'Home', root_url, :class => 'navbar-link'  %> |   
  <% end %>
  <%= link_to "Courses", courses_path, :class => 'navbar-link' %> 
  |
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'%> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

  <div class="container">

  <%= yield %>

  </div>

  <footer>
    <div id="main-nav" class="navbar navbar-default" role="navigation">
      <ul id="nav-lis" class="nav navbar-nav navbar-left">
        <li><a href="/static_pages/about"><h5>About</h5></a></li>
        <li><a href="#"><h5>Employers</h5></a></li>
        <li><a href="#"><h5>Partners</h5></a></li>
        <li><a href="/contact"><h5>Contact</h5></a></li>
        <li><a href="#"><h5>Terms & Privacy</h5></a></li>
        <li><a href="#"><h5>Blog</h5></a></li>
        <li><a href="#"><h5>Help</h5></a></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <h5>2014 Wynston Labs, Inc.</h5>
      </div>
     </div>
  </footer>
</body>
</html>
