<!DOCTYPE html>
<html>
<head>
  <title>Wynston</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
   <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div class = "flash_msg">
        <h3><%flash.each do |key, value| %>
        <%= value %>
        <% end %>
        </h3>
      </div>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>


<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Welcome <strong><%= current_user.first_name %></strong> | 
  <%= link_to 'Home', root_url, :class => 'navbar-link'  %> |
  <%= link_to 'Profile', user_path(current_user), :class => 'navbar-link'  %> | 
  <%= link_to 'Account Settings', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Courses", courses_path, :class => 'navbar-link' %> |
  <%= link_to "About", static_pages_about_path, :class => 'navbar-link' %> |
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'%> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<div class="container">

</div>

<%= yield %>

</body>
</html>
